
@import "./variables.scss";

.appScreen {
  text-align: center;
  color: $text-color;
}

body {
  background-color: black;
  overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN STRUCTURE */

.header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main {
  display: grid;

  // grid-gap: 4px;
  grid-template-columns: 1fr 1fr 2fr;
}

.active_element_title {
  font-size: 18px;
  font-weight: bold;
}

.app_title {
  font-weight: bold;
}

/* LOGOUT */
.logout_form {
  display: inline-block;
  padding: 1vh 0;
}

/* PROJECT */
.project_screen {
  background-color: $project-container-background;
  padding: 8px;
  height: $screen-height;
}

.project_header{
  margin-bottom: 8px;
}

.project_container {
  height: $container-height;
  overflow:auto;
}

.project_element {
  background-color: $project-background;
  transition: 0.3s;
}

.project_element_active {
  border-color: $text-color-hover;
  color: $text-color-hover;
  cursor: default;
  background-color: $project-background-hover;
}

.project_element:hover {
  background-color: $project-background-hover;
}

/* LIST */
.list_screen {
  background-color: $list-container-background;
  padding: 8px;
  height: $screen-height;
}

.list_header{
  margin-bottom: 8px;
}

.list_container {
  height: $container-height;
  overflow:auto;
}

.list_element {
  background-color: $list-background;
  transition: 0.3s;
}

.list_element_active {
  border-color: $text-color-hover;
  color: $text-color-hover;
  cursor: default;
  background-color: $list-background-hover;
}

.list_element:hover {
  background-color: $list-background-hover;
}

/* TASK */
.task_screen {
  background-color: $task-container-background;
  padding: 8px;
  height: $screen-height;
}

.task_header{
  margin-bottom: 8px;
}

.task_container {
  height: $container-height;
  overflow:auto;
}

.task_element {
  background-color: $task-background;
  transition: 0.3s
}

.task_element_active {
  border-color: $text-color-hover;
  color: $text-color-hover;
  cursor: default;
  background-color: $task-background-hover;
}

.task_element:hover {
  background-color: $task-background-hover;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  border: 1px solid $text-color;
  list-style: none;
  margin: 4px 0;
  width: 20vw;
  padding: 2px 0 4px;
}

.task_container li {
  width: 40vw;
}

li:hover {
  border-color: $text-color-hover;
  color: $text-color-hover;
  cursor: default;
}

/* BUTTONS */

input[type="button"], input[type="submit"] {
  padding: 4px;
  margin-bottom: 4px;
  transition: 0.3s;
  text-transform: uppercase;
}

li input[type="button"], input[type="submit"] {
  margin: 4px;
}

.confirm_button {
  background-color: $confirm-button-color;
  color: $text-color;
  border: 1px solid $text-color;
}

.confirm_button:hover {
  background-color: $confirm-button-color-hover;
  color: $text-color-hover;
  border-color: $text-color-hover;
}

.reject_button {
  background-color: $reject-button-color;
  color: $text-color;
  border: 1px solid $text-color;
}

.reject_button:hover {
  background-color: $reject-button-color-hover;
  color: $text-color-hover;
  border-color: $text-color-hover;
}

.access_button {
  background-color: $text-color-hover;
  color: $text-color;
  border: 1px solid $text-color;
}

.access_button:hover {
  background-color: $text-color;
  color: $text-color-hover;
  border-color: $text-color-hover;
}

/* FORMS */

form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], input[type="password"], textarea {
  width: 100%;
}

.dateInput {
  width: 25%;
}

textarea {
  height: 10vh;
}

form div {
  width: 80%;
  margin: 2px 0;
  text-align: left;
}

select {
  width: 100%;
}

.splitInputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing_page {
  margin-top: 16px;
}

.login_form, .register_form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 16px;
}

.logout_button {
  margin: 4px 4px 4px 8px;
}

/* MEDIA */

@media (max-height: 620px){
  .project_container, .list_container, .task_container {
    height: $container-height-small;
  }
}
