
$text-color:#E0E0E0;
$text-color-hover:#202020;

$project-container-background:#357266;
$project-background:#0E3B43;
$project-background-hover:#A3BBAD;

$list-container-background:#4C6B44;
$list-background:#1C331C;
$list-background-hover:#9DDDA6;

$task-container-background:#357266;
$task-background:#0E3B43;
$task-background-hover:#A3BBAD;


// $list-container-background:#AF5B1B;
// $list-background:#56351E;
// $list-background-hover:#F0A061;
//
// $task-container-background:#4C6B44;
// $task-background:#1C331C;
// $task-background-hover:#9DDDA6;

$confirm-button-color:#0B0B96; // blue
$confirm-button-color-hover:#859CEC;

$reject-button-color:#960B0B; // red
$reject-button-color-hover:#EC859C;

$header-height: 7vh;
$screen-height: 93vh;
$container-height-small: 82vh;
$container-height: 85vh;
