
$text-color:#E0E0E0;
$text-color-hover:#202020;

$project-container-background:#357266;
$project-background:#0E3B43;
$project-background-hover:#A3BBAD;

$list-container-background:#AF5B1B;
$list-background:#56351E;
$list-background-hover:#F0A061;

$task-container-background:#4C6B44;
$task-background:#1C331C;
$task-background-hover:#9DDDA6;

$confirm-button-color:#0b0b96; // blue
$confirm-button-color-hover:#859cec;

$reject-button-color:#960b0b; // red
$reject-button-color-hover:#ec859c;
